

.wrapper{
    width: 100%;
    background-color: #F3F3F3;


    .container{
        display: flex;
        align-items:center ;
        justify-content: space-between;
        // gap: 20px;
        width:90%;
        margin:  0 auto;
        max-width: 1440px;
        padding: 0px 0px;

        .logo_image{
            // max-width: 300px;
            width: 100%;
            // min-height: 30px;

            .amad_image{
                width: 100%;
                // height: unset !important;
                // height: 100%;
                object-fit: contain;
                // max-width: 300px;
            }
        }
    }
}