@import "./mixins";
@import "./variables";


@font-face {
  font-family: LatoRegular;
  src: url("../../public/assets/fonts/lato/Lato-Regular.ttf");
}

@font-face {
  font-family: Lato;
  src: url("../../public/assets/fonts/lato/Lato-Bold.ttf");
}

@font-face {
  font-family: Inter;
  src: url("../../public/assets/fonts/inter/Inter_18pt-Regular.ttf");
}

@font-face {
  font-family: InterMedium;
  src: url("../../public/assets/fonts/inter/Inter_18pt-Medium.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: transparent;
  width: 100%;
  // max-width: 1440px;
  background: #f9f9f9;
  font-weight: 400;
  margin: 0 auto;
}

