
@import "../../styles/index.scss";

.flightSearchForm {
    width: 100%;
    // max-width: 800px;
    // margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    .formRow {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 15px;
      gap: 10px;
    }
  
    .formGroup {
      flex: 1;
      min-width: 80px;
  
      label {
        display: block;
        margin-bottom: 5px;
        color: #1D1D1D;
        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        
      }
  
      input,
      select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-family: Inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #686868;
        // cursor: pointer;
  
        &:focus {
          outline: none;
          border-color: #4a90e2;
          box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
        }
      }
  
      .dateInput {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-family: Inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #686868;
        cursor: pointer;
      }
    }

    .form_btn{
        display: flex;
        justify-content: flex-end;

        .searchButton {
            padding: 12px 40px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.2s;
            font-family: LatoRegular;
            font-weight: 600;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
            backdrop-filter: blur(19.100000381469727px);

            
        
            &:hover {
              background-color: #036ddd;
            }
          }
    }
  
    
  }

  @include responsive("mobile"){
    .flightSearchForm {
      width: 100%;
      // max-width: 800px;
      // margin: 0 auto;
      padding: 20px;
      background-color: #FFFFFF;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
      .formRow {
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
        margin-bottom: 0px;
        gap: 10px;
      }
    
      .formGroup {
        flex: 1;
        min-width: 80px;
    
        label {
          display: block;
          margin-bottom: 5px;
          color: #1D1D1D;
          font-family: Inter;
          font-weight: 400;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 0%;
          
        }
    
        input,
        select {
          width: 100%;
          padding: 10px;
          border: 1px solid #ddd;
          border-radius: 4px;
          font-family: Inter;
          font-weight: 400;
          font-size: 14px;
          line-height: 100%;
          letter-spacing: 0%;
          color: #686868;
    
          &:focus {
            outline: none;
            border-color: #4a90e2;
            box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
          }
        }
    
        .dateInput {
          width: 100%;
          padding: 10px;
          border: 1px solid #ddd;
          border-radius: 4px;
          font-family: Inter;
          font-weight: 400;
          font-size: 14px;
          line-height: 100%;
          letter-spacing: 0%;
          color: #686868;
        }
      }
  
      .form_btn{
          display: flex;
          justify-content: flex-end;
          width: 100%;
          margin-top: 10px;
  
          .searchButton {
            width: 100%;
              padding: 12px 40px;
              background-color: #007BFF;
              color: white;
              border: none;
              border-radius: 4px;
              cursor: pointer;
              transition: background-color 0.2s;
              font-family: LatoRegular;
              font-weight: 600;
              font-size: 12px;
              line-height: 100%;
              letter-spacing: 0%;
              backdrop-filter: blur(19.100000381469727px);
  
              
          
              &:hover {
                background-color: #036ddd;
              }
            }
      }
    
      
    }
  }